
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/.suo
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/Browse.VC.db
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/ipch/37404afc134baf75.ipch
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.log
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.pch
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.command.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.read.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.write.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/ITS_MINE_Client.lastbuildstate
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/link.read.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/link.write.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/LoadPng.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/Object.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/Renderer.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ScnMgr.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/stdafx.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/vc141.idb
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/vc141.pdb
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.exe
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.ilk
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.pdb
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/.suo
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/Browse.VC.db
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/ipch/AutoPCH/27e05668a6475bbc/ITS_MINE_SERVER.ipch
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/ipch/AutoPCH/30567ac224a86fdb/ITS_MINE_SERVER.ipch
ITS_MINE_Server/Debug/ITS_MINE_Server.exe
ITS_MINE_Server/Debug/ITS_MINE_Server.ilk
ITS_MINE_Server/Debug/ITS_MINE_Server.log
ITS_MINE_Server/Debug/ITS_MINE_Server.obj
ITS_MINE_Server/Debug/ITS_MINE_Server.pdb
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.command.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.read.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.write.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/ITS_MINE_Server.lastbuildstate
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/link.read.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/link.write.1.tlog
ITS_MINE_Server/Debug/vc141.idb
ITS_MINE_Server/Debug/vc141.pdb
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.exe
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.ilk
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.log
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.obj
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.pdb
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.tlog/link.read.1.tlog
ITS_MINE_Server/x64/Debug/vc141.idb
ITS_MINE_Server/x64/Debug/vc141.pdb
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/.suo
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/Browse.VC.db
ITS_MINE_Client/.vs/ITS_MINE_Client/v15/ipch/37404afc134baf75.ipch
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.log
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.pch
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.command.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.read.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/CL.write.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/ITS_MINE_Client.lastbuildstate
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/link.read.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ITS_MINE_Client.tlog/link.write.1.tlog
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/LoadPng.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/Object.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/Renderer.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/ScnMgr.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/stdafx.obj
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/vc141.idb
ITS_MINE_Client/ITS_MINE_Client/x64/Debug/vc141.pdb
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.exe
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.ilk
ITS_MINE_Client/x64/Debug/ITS_MINE_Client.pdb
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/.suo
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/Browse.VC.db
ITS_MINE_Server/.vs/ITS_MINE_Server/v15/ipch/AutoPCH/27e05668a6475bbc/ITS_MINE_SERVER.ipch
ITS_MINE_Server/Debug/ITS_MINE_Server.exe
ITS_MINE_Server/Debug/ITS_MINE_Server.ilk
ITS_MINE_Server/Debug/ITS_MINE_Server.log
ITS_MINE_Server/Debug/ITS_MINE_Server.obj
ITS_MINE_Server/Debug/ITS_MINE_Server.pdb
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.command.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.read.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/CL.write.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/ITS_MINE_Server.lastbuildstate
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/link.read.1.tlog
ITS_MINE_Server/Debug/ITS_MINE_Server.tlog/link.write.1.tlog
ITS_MINE_Server/Debug/vc141.idb
ITS_MINE_Server/Debug/vc141.pdb
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.exe
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.ilk
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.log
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.obj
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.pdb
ITS_MINE_Server/x64/Debug/ITS_MINE_Server.tlog/link.read.1.tlog
ITS_MINE_Server/x64/Debug/vc141.idb
ITS_MINE_Server/x64/Debug/vc141.pdb
