/ITS_MINE_Server/.vs
/ITS_MINE_Client/.vs
/ITS_MINE_Server/ITS_MINE_Server/x64
/ITS_MINE_Client/ITS_MINE_Client/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.iobj
*.ipdb
